:root {
    --primary-font-color: #212121;
    --secondary-font-color: #ffffff;
    --main-logo-color: #2196f3;
    --alternative-font-color: #757575;
    --order-background-color: #2f303a;
    --page-header-logo-color: #000000;
    --portfolio-select-list-background-color: #f5f4fa;
    --modal-open-btn-background-color: #188ce8;
    --bottom-address-tel-mail-color: rgba(255, 255, 255, 0.6);
}

body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: var(--primary-font-color);
    background-color: var(--secondary-font-color);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link {
    /* убрать подчеркивание */
    text-decoration: none;
}
.list {
    /* убрать точки */
    list-style: none;
}
img {
    /* убрать отступ между картинками */
    display: block;
}
button {
    /* рука+отсутствие бордера */
    cursor: pointer;
    border: none;
}
address {
    font-size: normal;
}
.hidden {
    /* паттерн visually hidden */
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.page-header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--page-header-logo-color);
    display: flex;
    align-items: center;
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
}
.logo {
    color: var(--main-logo-color);
}
.menu-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-font-color);
}
.menu-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--alternative-font-color);
}
.order {
    background: var(--order-background-color);
}
.order-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-font-color);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.modal-open-btn {
    background: var(--main-logo-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    letter-spacing: 0.06em;
    color: var(--secondary-font-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 216px;
    height: 50px;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background: var(--modal-open-btn-background-color);
}
.menu-link:hover,
.menu-link:focus,
.menu-contact:hover,
.menu-contact:focus {
    color: var(--main-logo-color);
}
.specialty-main {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-font-color);
}
.specialty-item {
    line-height: 1.7;
    color: var(--alternative-font-color);
}
.propositions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-font-color);
}
.our-team {
    background: var(--portfolio-select-list-background-color);
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-font-color);
}
.our-team-item {
    background: var(--secondary-font-color);
}
.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-font-color);
}

.our-team-job {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--alternative-font-color);
}

.bottom {
    background: var(--order-background-color);
}
.page-footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--secondary-font-color);
}
.bottom-address {
    font-style: normal;
    line-height: 1.7;
    color: var(--secondary-font-color);
}
.bottom-address-tel-mail {
    font-style: normal;
    line-height: 1.7;
    color: var(--bottom-address-tel-mail-color);
}
.bottom-address:hover,
.bottom-address:focus,
.bottom-address-tel-mail:hover,
.bottom-address-tel-mail:focus {
    color: var(--main-logo-color);
}
.portfolio-select-list button {
    background: var(--portfolio-select-list-background-color);
    border-radius: 4px;
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--primary-font-color);
}
.portfolio-select-list button:hover,
.portfolio-select-list button:focus {
    background: var(--main-logo-color);
    color: var(--secondary-font-color);
}
.portfolio-example-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-font-color);
}
.portfolio-example-list p {
    font-size: 16px;
    line-height: 1.9;
    color: var(--alternative-font-color);
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
}
.navigation-wrap {
    display: flex;
    justify-content: space-between;
}
.contact-wrap {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu li {
    margin-right: 50px;
}
.menu-item:last-child {
    margin-right: 0px;
}
.contact-wrap li {
    margin-right: 50px;
}
.contact-item:last-child {
    margin-right: 0px;
}
.page-header {
    border: 1px solid #ececec;
}
.order-wrap {
    padding-top: 200px;
    padding-bottom: 200px;
}
.specialty-list {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}
.specialty {
    margin-right: 30px;
    width: 270px;
}
.specialty:last-child {
    margin-right: 0;
}
